/* Color Variables */
:root{
    --primary-background-color: #2a3139;
    --navbar-color: #24292f;
    --white-color: #FFF;
    --glow-white-color: #FCFBF2;
    --text-white-color: #8c8c8c;
    --button-green-color: #39e600;
    --button-blue-color: #0066cc;
    --black-color: #111;   
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: var(--primary-background-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

p,div,button,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
textarea{
    resize: none;
}
.text-center{
    text-align: center;
}
.bg-primary{
    background: var(--primary-background-color);
}
.bg-white{
    background: var(--white-color);
}
.bg-navbar{
    background: var(--navbar-color);
}
.section-white{
    background: var(--white-color);
}
.container{
    width: 1204px;
    margin-left: 171px;
}
.row{
    padding: 50px 0px;
    margin: 50px 0px;
    display: flex;
}
.col-1{
    width:200.6666666666667px;
    padding: 20px;
    margin: 20px;
}
.col-2{
    width: 401.3333333333333px;
    padding: 20px;
    margin: 20px;
}
.col-3{
    width: 602px;
    padding: 20px;
    margin: 20px;
}
.col-4{
    width: 802.6666666666667‬px;
    padding: 20px;
    margin: 20px;
}

.col-5{
    width: 1,003.333333333333px;
    padding: 20px;
    margin: 20px;
}
.col-6{
    width: 1204px;
    padding: 20px;
    margin: 20px;
}

/* NAVBAR */
.navbar{
    position: sticky;
    color: #FFF;
    top: 0;
}
.navbar .navbar-list{
    margin: 0;
    margin-left: -10px;
    display: flex;
    justify-content: space-evenly;
}
.navbar .navbar-list .navbar-items{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar .navbar-items a{
    color: var(--white-color);
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar  .navbar-logo{
    margin-top: 15px;
    width: 35px;
    height: 35px;
}
.navbar .navbar-search{
    width: 250px;
    border: solid 1px  var(--black-color);
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: var(--white-color);
}

.navbar .navbar-list a:hover{
    color: var(--glow-white-color);
}
.navbar .navbar-list ul li:hover{
    transform: scale(1.15);
    transition: all 0.25s ease-in-out;
    text-shadow: 2px 2px 4px var(--black-color);
}
.navbar .mobile-menu-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 19px;
    cursor: pointer;
    background: var(--navbar-color);
    display: none;
}
.navbar .mobile-menu-icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--white-color);
    transform-origin: 0 0;
    transition: all .4s ease-out;
}
.navbar .mobile-menu-icon .mobile-menu-icon-bar{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--white-color);
    transform-origin: 0 50%;
    transition: all .4s ease-out;
}
.navbar .mobile-menu-icon::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--white-color);
    transform-origin: 0 100%;
    transition: all .4s ease-out;
}

/* SECTION 1 */
#heading1{
    color: var(--white-color);
    font-size: 70px;
    font-weight: 300;
    text-shadow: 2px 2px 4px var(--black-color);
}
.introduction{
    padding: 40px;
    margin: 20px 50px 20px 0px;
    padding-left:0;
    box-sizing: border-box;
}

.introduction-text{
    color: var(--text-white-color);
    font-size: 28px;
}
.introduction-text span{
    color: var(--white-color);
}
#Sign-Up-Button-introduction{
    display: none;
}

.form{
    margin: 0 0 0 80px;
    border: 4px solid var(--black-color);
    border-radius: 15px;
}
.input-label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.input{
    padding: 10px;
    border-radius: 7px;
}
.label{
    padding: 5px 0 10px 0;
}
.button-green{
    width: 385px;
    margin-left: 10px;
    padding: 10px;
    background: var(--button-green-color);
    color: var(--white-color);
    font-weight: 900;
    border: none;
    border-radius: 7px;
}
.button-green:hover{
    cursor: pointer;
    background: #66ff66;
    transform: scale(1.05);
}
.terms-and-conditions{
    padding: 10px;
}
.terms-and-conditions p a{
    color: var(--button-blue-color);
}
/* SECTION 2 */
.teams{
    display: flex;
    flex-direction: column;
}
.teams-row{
    display: flex;
    flex-direction: column;
}
#teams-heading-small{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text-white-color);
    padding: 10px;
}
#teams-heading-big{
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}
.teams-text{
    margin: 0 250px;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    color: var(--text-white-color);
}
.button-blue{
    padding: 10px;
    width: 240px;
    align-self: center;
    background: var(--white-color);
    border: solid 1px var(--text-white-color);
    border-radius: 5px;
    color: var(--button-blue-color);
}
.button-blue:hover{
    cursor: pointer;
    background: #f2f2f2;
    transform: scale(1.05);
}

/* MEDIA QUERIES FOR MAKING SITE MOBILE FRIENDLY */
@media(min-width: 1080px) and (max-width: 1400px) {
    .container{
        margin: auto;
        width: 1100px;
    }
    .form{
        margin: 0;
    }
}
@media(min-width: 768px) and (max-width: 1080px) {
    .container{
        width: 700px;
        margin: auto;
    }
    .navbar{
        display: flex;
    }
    .navbar .navbar-logo{
        margin-bottom: 15px;
    }
    .navbar .navbar-items{
        display: none;
    }
    .navbar .navbar-search{
        display: none;
    }
    .row{
        margin: 0;
        flex-direction: column;
    }
    #heading1{
        font-size: 50px; 
        text-align: center;  
    }
    .introduction-text{
        text-align: center;
        font-size: 25px;
    }
    .teams{
        margin: auto;
    }
    .teams-text{
        margin: auto;
        font-size: 20px;
    }
    #teams-heading-big{
        font-size: 40px;
    }
    #teams-heading-small{
        font-size: 20px;
    }
    .navbar .mobile-menu-icon{
        display: block;
    }
}
@media(min-width:576px) and (max-width: 768px) {
    .container{
        width: 600px;
        margin: auto;
    }
    .navbar{
        display: flex;
    }
    .navbar .navbar-logo{
        margin-bottom: 15px;
    }
    .navbar .navbar-items{
        display: none;
    }
    .navbar .navbar-search{
        display: none;
    }
    .navbar .mobile-menu-icon{
        display: block;
    }
    .row{
        margin: 0;
        flex-direction: column;
    }
    #heading1{
        margin: auto;
        font-size: 40px; 
        text-align: center;  
    }
    .introduction{
        margin:  auto;
    }
    .introduction-text{
        margin: auto;
        text-align: center;
        font-size: 20px;
    }
    
    .form{
        width: 350px;
        margin: auto;
        border: 4px solid var(--black-color);
        border-radius: 15px;
    }
    .input-label{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .input{
        font-size: 18px;
        padding: 10px;
        border-radius: 7px;
    }
    .label{
        font-size: 18px;
        padding: 5px 0 10px 0;
    }
    .button-green{
        font-size: 18px;
        width: 329px;
        margin-left: 10px;
        padding: 10px;
        background: var(--button-green-color);
        color: var(--white-color);
        font-weight: 900;
        border: none;
        border-radius: 7px;
    }
    .teams{
        margin: auto;
    }
    .teams-text{
        margin: auto;
        font-size: 15px;
    }
    #teams-heading-big{
        font-size: 30px;
    }
    #teams-heading-small{
        font-size: 15px;
    }
}
@media(max-width:576px){
    .container{
        align-self: center;
        margin: auto;
        width: 300px;
    }
    .navbar{
        display: flex;
    }
    .navbar .navbar-logo{
        margin-bottom: 15px;
    }
    .navbar .navbar-items{
        display: none;
    }
    .navbar .navbar-search{
        display: none;
    }
    .navbar .mobile-menu-icon{
        display: block;
    }
    .row{
        margin: 0;
        flex-direction: column;
    }
    .introduction{
        padding: 0;
        margin: 0;
        margin: auto;
        width: 300px;
    }
    #heading1{
        margin: auto;
        font-size: 40px; 
        text-align: center;  
    }
    .introduction-text{
        text-align: center;
        font-size: 20px;
    }
    .form{
        display: none;
        width: 350px;
        margin: auto;
        border: 4px solid var(--black-color);
        border-radius: 15px;
    }
    .input-label{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .input{
        font-size: 18px;
        padding: 10px;
        border-radius: 7px;
    }
    .label{
        font-size: 18px;
        padding: 5px 0 10px 0;
    }
    #Sign-Up-Button-introduction{
        align-self: center;
        width: 250px;
        margin: 20px;
        display: block;
    }
    .teams{
        margin: auto;
    }
    .teams-text{
        margin: auto;
        font-size: 20px;
    }
    #teams-heading-big{
        font-size: 30px;
    }
    #teams-heading-small{
        font-size: 15px;
    }
    .button-blue{
        width: 142px;
        font-size: 15px;
    }
}
