/* Color Variables */
:root{
    --primary-background-color: #2a3139;
    --navbar-color: #24292f;
    --white-color: #FFF;
    --glow-white-color: #FCFBF2;
    --text-white-color: #8c8c8c;
    --button-green-color: #39e600;
    --button-blue-color: #0066cc;
    --black-color: #111;   
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: var(--primary-background-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

p,div,button,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
textarea{
    resize: none;
}
.text-center{
    text-align: center;
}
.bg-primary{
    background: var(--primary-background-color);
}
.bg-white{
    background: var(--white-color);
}
.bg-navbar{
    background: var(--navbar-color);
}
.section-white{
    background: var(--white-color);
}
.container{
    width: 1204px;
    margin-left: 171px;
}
.row{
    padding: 50px 0px;
    margin: 50px 0px;
    display: flex;
}
.col-1{
    width:200.6666666666667px;
    padding: 20px;
    margin: 20px;
}
.col-2{
    width: 401.3333333333333px;
    padding: 20px;
    margin: 20px;
}
.col-3{
    width: 602px;
    padding: 20px;
    margin: 20px;
}
.col-4{
    width: 802.6666666666667‬px;
    padding: 20px;
    margin: 20px;
}

.col-5{
    width: 1,003.333333333333px;
    padding: 20px;
    margin: 20px;
}
.col-6{
    width: 1204px;
    padding: 20px;
    margin: 20px;
}

.navbar{
    position: sticky;
    color: #FFF;
    top: 0;
}
.navbar .navbar-list{
    margin: 0;
    margin-left: -10px;
    display: flex;
    justify-content: space-evenly;
}
.navbar .navbar-list .navbar-items{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar .navbar-items a{
    color: var(--white-color);
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar  .navbar-logo{
    margin-top: 15px;
    width: 35px;
    height: 35px;
}
.navbar .navbar-search{
    width: 250px;
    border: solid 1px  var(--black-color);
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: var(--white-color);
}

.navbar .navbar-list a:hover{
    color: var(--glow-white-color);
}
.navbar .navbar-list ul li:hover{
    transform: scale(1.15);
    transition: all 0.25s ease-in-out;
    text-shadow: 2px 2px 4px var(--black-color);
}
#heading1{
    color: var(--white-color);
    font-size: 70px;
    font-weight: 300;
    text-shadow: 2px 2px 4px var(--black-color);
}
.introduction{
    padding: 40px;
    margin: 20px 50px 20px 0px;
    padding-left:0;
    box-sizing: border-box;
}

.introduction-text{
    color: var(--text-white-color);
    font-size: 28px;
}
.introduction-text span{
    color: var(--white-color);
}

.form{
    margin: 0 0 0 80px;
    border: 4px solid var(--black-color);
    border-radius: 15px;
}
.input-label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.input{
    padding: 10px;
    border-radius: 7px;
}
.label{
    padding: 5px 0 10px 0;
}
.button-green{
    width: 385px;
    margin-left: 10px;
    padding: 10px;
    background: var(--button-green-color);
    color: var(--white-color);
    font-weight: 900;
    border: none;
    border-radius: 7px;
}
.button-green:hover{
    cursor: pointer;
    background: #66ff66;
    transform: scale(1.05);
}
.terms-and-conditions{
    padding: 10px;
}
.terms-and-conditions p a{
    color: var(--button-blue-color);
}
.teams{
    display: flex;
    flex-direction: column;
}
#teams-heading-small{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text-white-color);
    padding: 10px;
}
#teams-heading-big{
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}
.teams-text{
    margin: 0 250px;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    color: var(--text-white-color);
}
.button-blue{
    padding: 10px;
    width: 240px;
    align-self: center;
    background: var(--white-color);
    border: solid 1px var(--text-white-color);
    border-radius: 5px;
    color: var(--button-blue-color);
}
.button-blue:hover{
    cursor: pointer;
    background: #f2f2f2;
    transform: scale(1.05);
}